// colors

$theme: #5fb2bd;
$theme-bg: #f9f9f9;

$primary-copy: #525e5d;
$secondary-copy: #808c8b;

$input-color: #eeecec;
$divider-color: $input-color;

// screen

$sm: 320px;
$md: 768px;
$lg: 1024px;
$xlg: 1200px;
$xxlg: 1440px;
