main {
  form {
    width: 90%;
    margin: 0 auto;
    max-width: $md;
    fieldset {
      padding: 0 1rem;
      border: none;
      legend {
        color: $primary-copy;
        font-size: 1.15rem;
        margin-bottom: 1rem;
      }
      .input-group {
        @include flex(column, nowrap, flex-start, flex-start);
        margin: 2rem 0;
        @media (min-width: $md) {
          @include flex(row, nowrap, space-between, center);
          margin: 0.5rem 0;
          & label {
            min-width: 10rem;
          }
        }
        input,
        select,
        textarea {
          @include size(3rem, 100%);
          color: $secondary-copy;
          padding: 0.8rem;
          border-radius: 5px;
          border: 1px solid transparent;
          transition: 0.3s;
          background: $input-color;
          margin-top: 0.33rem;
          &:focus {
            border-color: rgba($primary-copy, 0.5);
            outline: $primary-copy;
            background: white;
            transform: scale(1.025);
            box-shadow: 0 4px 8px rgba(rgb(59, 59, 59), 0.25);
          }
          &.zip-input {
            width: 50%;
            margin-right: auto;
            @media (min-width: $md) {
              width: 25%;
            }
          }
        }
      }
      .newsletter-options {
        .section-title {
          color: $primary-copy;
          margin: 1rem auto;
        }
        .option-group {
          @include flex(row, nowrap, flex-start, center);
          margin: 1rem auto;
          input[type="checkbox"] {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            margin-right: 0.6rem;
            outline-color: $theme;
            &:checked {
              background: $theme;
              border: 1px solid white;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
                inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
      .newsletter-format {
        .section-title {
          color: $primary-copy;
          margin: 2rem auto 1rem;
        }
        .option-group {
          @include flex(row, nowrap, flex-start, center);
          margin: 1rem auto;
          input[type="radio"] {
            -webkit-appearance: none;
            background-color: #fafafa;
            border: 1px solid #cacece;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
              inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 25px;
            display: inline-block;
            position: relative;
            margin-right: 0.6rem;
            outline-color: $theme;
            &:checked {
              background: $theme;
              border: 1px solid white;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
                inset 15px 10px -12px rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
      .other-topics-feedback {
        @include flex(column, nowrap, flex-start, flex-start);
        margin-bottom: 2rem;
        label {
          color: $primary-copy;
          margin-top: 2rem;
        }
        textarea {
          font-family: "Inter", sans-serif;
          margin-top: 1rem;
          width: 100%;
          min-height: 200px;
          resize: none;
          color: $secondary-copy;
          padding: 1rem;
          border-radius: 5px;
          transition: 0.3s;
          background: $input-color;
          border: 1px solid transparent;
          &:focus {
            border-color: rgba($primary-copy, 0.5);
            outline: $primary-copy;
            background: white;
            transform: scale(1.025);
            box-shadow: 0 4px 8px rgba(rgb(59, 59, 59), 0.25);
          }
        }
      }
      button {
        margin-bottom: 3rem;
        background: $theme;
        color: white;
        border-radius: 5px;
        padding: 1rem;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 1.3rem;
        &:hover {
          background: darken($theme, 10%);
        }
      }
    }
  }
}
