header {
  text-align: center;
  h1 {
    display: block;
    padding: 1rem;
    background: $theme;
    color: white;
    text-shadow: 0 4px 4px rgba(black, 0.25);
  }
  h2 {
    margin-bottom: 0.5rem;
    @media (min-width: $md) {
      margin-top: 2rem;
    }
  }
  .content-wrapper {
    padding: 1rem;
  }
}
